<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vishwa.picspeak"
    android:versionCode="1"
    android:versionName="1.0" 
    >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />
    
    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:requiresSmallestWidthDp="600" />
        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/person_talking"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.upenn.cis350.mosstalkwords.PickSet"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.upenn.cis350.mosstalkwords.MainActivity" 
            android:screenOrientation="portrait"/>
        
        <activity android:name="edu.upenn.cis350.mosstalkwords.HelpTextActivity" 
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"/>
        
        <activity android:name="edu.upenn.cis350.mosstalkwords.EndSet" 
            android:screenOrientation="portrait"/>
        
    </application>

</manifest>
